.jumbotron {
  padding-top: 6rem;
  background-color: #fffc37;
}

#talents {
  background-color: #161616;
}

section {
  padding-top: 5rem;
}

.social-links a {
  margin-right: 10px;
  color: #161616; /* Warna ikon */
  font-size: 18px;
}

.social-links a:hover {
  color: #007bff; /* Warna ikon saat dihover */
}


.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
